
textarea, input, button { 
  outline: none;
  resize: none;
}
html, body {
  margin: 0px;
  padding: 0px;
}
.plan {
  width: 49.8%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.plan textarea {
  padding: 5%;
  height: 90% !important;
  width: 90% !important;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 30px;
  border: none;
  outline: none;
}
.plan textarea .margin {
  margin: 10px;
}
.chart {
  border-left: 1px solid #bf6d65 !important;
  font-family: sans-serif;
  background: #fff;
  right: 0px;
  width: 29%;
  overflow-y: scroll;
  position: absolute;
  padding: 10px;
}
  .chart .group {
    padding: 10px 5px;
    padding-bottom: 1px;
    font-weight: bold;
    font-size: 16px;
    color: #bf6d65;
    background: #f5eded;
    margin-bottom: 20px;
  }
  .chart table {
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    border-collapse: collapse;
    padding: 0px;
    width: 100%;
    margin-bottom: 10px;
  }
  .chart table th {
    text-align: left;
  }
  .chart table td:first-child {
    padding-top: 5px;
    width: 80%;
  }
  .chart table td:last-child {
    text-align: right;
    padding-right: 5px;
  }
  .chart h2 {
    margin: 10px;
    font-size: 18px;
  }
  .chart h3 {
    margin: 10px;
    font-size: 18px;
  }
